.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px; 
    /* grid-template-columns: 100px auto auto 100px; */
    /* grid-template-columns: repeat(3, 100px) auto; */
    justify-content: space-around;

}
 

.item{
    border: 1px solid blueviolet;
    text-align: center;
}